<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Bienvenido</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Ingrese su usuario</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Ingrese su contraseña</ion-label>
                    <ion-input type="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button extend="block">Iniciar sesión</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>